

h1 {
	text-align : center;
	padding-left : 10vw;
	padding-right : 10vw;
}

table {
	width : 100%;
	border-collapse : collapse;
	text-align : center;
	border-width : 20px;
}

th{
	font-size :max(2vw,15px);
	border-collapse : collapse;
	border-bottom : 3px solid;
	background-color : #b5f7bc;
	font-weight: bold;
	color: #007399;
}


td{
	text-align: center;
	border-collapse : collapse;
	border-bottom: 2px solid black;
	font-size : max(15px,1.7vw);
}
.year{
	clip-path: polygon(50% 0, 100% 25%, 100% 100%, 50% 75%, 0 100%, 0 25%);
	background-color : #1b8c5d;
}
.year > p{
	padding-bottom : 30px;
	padding-top : 40px;
	position : relative;
	color : white;
	font-size : 30px;
	top : 0;
}


body{
	align-items: center;
	font-size: max(2vw,10px);
}