body{
	background-color : #f0fff0;
	padding-top : 5vh;
}


.boundary{
	width : 85vw;
	min-height : 90vh;
	border : 2px solid black;
	background-color : #f2f0f2;
}

* {
	box-sizing : border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.headshape {
	width : 85vw;
	min-height : 10vh;
	background-color : #18ab7c;
	border : none;
}

.pic {
	width : 20vw;
	height : 20vw;
	border-radius : 30px;
	background-image : url("sanj1.jpeg");
	background-size : cover;
	display : inline-block;
}

h1{
	font-size : max(4.5vw,20px);
	text-align : center;
	padding-top : 3vw;
	padding-bottom : 0px;
	color : white;
	line-height : 25vm;
}

.frame1 {
	width: 100%;
	height: 700px;
	overflow : hidden;
	border : none;
}