body{
}


h1{
	border-radius : 2vw;
	background-clip : text;
	color : white;
	margin : 0;
}
.tile {
	text-align : center;
}	


.outer{
	padding : 0px;
	list-style-type : none;	
	display : inline-block;
}

ul{
	list-style-type : none;
}

li{
	border-radius : 2vw;
	float : left;
	background-color : #18ab7c;
	padding-left : 10px;
	padding-right : 10px;
	margin : 2vw;
	color :  black;
	font-size : min(2vw,15px);
	font-weight : 900;
}

li{
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

/* On mouse-over, add a deeper shadow */
li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}